button {
    background: transparent;
    width: 240px;
    border: 0;
    cursor: pointer;
    padding: 0;
    outline: none;
  }
.hair1, .front-hair1 {fill:#01047A;}
.bg{fill:#070BAC;}
.left-mark1, .rigth-mark1, .nose1, .body2 {fill:#F3EFEF;}
.right-ear1{fill:#8A8DF5;}
.left-ear1{fill:#898CF4;}
.nose2{opacity:0.26;}
.nose3{fill:#2326B7;}
.nose4{fill:#3C3CE8;}
.nose5{fill:#7771D0;}
.face1{fill:#8B8DF6;}
.body1{fill:#5E60EE;}
.body3{fill:#FFFFFF;}
